body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nav {
  background-color: rgb(67, 116, 67);
  font-size: 0.5em;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
.navlogo {
  max-width: 25px;
  border-radius: 50%;
  margin: 2px;
}
.heading {
  background-color: rgb(67, 116, 67);
  height: 250px;
  position: relative;
}
h1 {
  font-size: 50px;
  color: white;
  padding: 4px;
}
.tagline {
  font-size: 12px;
  color: white;
  text-align: justify;
  position: absolute;
  left: 20px;
  top: 90px;
  width: 240px;
}

.dogbeinggroomed {
  position: absolute;
  right: 30px;
  top: 90px;
  width: 200px;
  border-radius: 5px;
  box-shadow: rgb(50, 83, 50);
}
.button1 {
  background-color: white;
  color: rgb(67, 116, 67);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 3px rgb(50, 83, 50);
  font-size: 5px;
  font-style: bold;
  align-items: center;
  border: rgb(67, 116, 67);
  position: relative;
  top: 70px;
  right: 150px;
}
.button1:hover {
  background-color: rgb(67, 116, 67);
  color: white;
  cursor: pointer;
}

.button2 {
  background-color: white;
  color: rgb(67, 116, 67);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 3px rgb(50, 83, 50);
  font-size: 5px;
  font-style: bold;
  align-items: center;
  border: rgb(67, 116, 67);
  position: relative;
  position: relative;
  top: 70px;
  right: 100px;
}
.button2:hover {
  background-color: rgb(67, 116, 67);
  color: white;
  cursor: pointer;
}
.intro {
  background-color: white;
  height: 300px;
  position: relative;
  font-size: 25px;
  text-align: left;
  padding-top: 125px;
}

h2 {
  font-size: 30px;
}

.servicesHeading {
  font-size: 30px;
}
.services {
  background-color: rgb(67, 116, 67);
  color: white;
}

h4 {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.card {
  justify-content: space-around;
  padding: 50px 0;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: rgb(67, 116, 67);
}
.pawprints {
  size: 500%;
  background-repeat: repeat-x;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
