

body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
.nav {
  background-color: rgb(67, 116, 67);
  font-size: .75em;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.number {padding-right: 10px; }
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
.navlogo {
  max-width: 25px;
  border-radius: 50%;
  margin: 2px;
}
.navlogo:hover {
  cursor: pointer;
}
.heading {
  background-color: rgb(67, 116, 67);
  height: 250px;
  position: relative;
}
h1 {
  font-size: 50px;
  color: white;
  padding: 4px;
}
.tagline {
  font-size: 12px;
  color: white;
  text-align: justify;
  position: absolute;
  left: 20px;
  top: 90px;
  width: 240px;
}

.dogbeinggroomed {
  position: absolute;
  right: 30px;
  top: 90px;
  width: 200px;
  border-radius: 5px;
  box-shadow: rgb(50, 83, 50);
}
.button1 {
  background-color: white;
  color: rgb(67, 116, 67);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 3px rgb(50, 83, 50);
  font-size: 10px;
  font-style: bold;
  align-items: center;
  border: rgb(67, 116, 67);
  position: relative;
  top: 90px;
  right: 150px;
}
.button1:hover {
  background-color: rgb(67, 116, 67);
  color: white;
  cursor: pointer;
}

.button2 {
  background-color: white;
  color: rgb(67, 116, 67);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 3px rgb(50, 83, 50);
  font-size: 10px;
  font-style: bold;
  align-items: center;
  border: rgb(67, 116, 67);
  position: relative;
  position: relative;
  top: 90px;
  right: 100px;
}
.button2:hover {
  background-color: rgb(67, 116, 67);
  color: white;
  cursor: pointer;
}
.intro {
  background-color: white;
  height: 150px;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 30px;
  padding: 10px;
}

.servicesHeading {
  font-size: 30px;
}
.services {
  background-color: rgb(67, 116, 67);
  color: white;
}
.row {
  display: flex;
  margin: 0 -5px;
  align-items: stretch;
}

h4 {
  text-decoration: underline;
}

.card {
  justify-content: space-around;
  padding: 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgb(67, 116, 67);
  padding: 16px;
  margin: 10px 0px 2px 0px;
  height: 200px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button3 {
  background-color: white;
  color: rgb(67, 116, 67);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0 3px rgb(50, 83, 50);
  font-size: 10px;
  font-style: bold;
  align-items: center;
  border: rgb(67, 116, 67);
  position: relative;
  top: 10px;
  right: 480px;
}

.button3:hover {
  background-color: rgb(67, 116, 67);
  color: white;
  cursor: pointer;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.pawprints{padding-top: 20px;}
img {
  object-fit: cover;
}
.dogs {
  display: flex;
  margin-left: 470px;
  gap: 4px;
  padding: 10px 1px;
}

footer {
  background-color: rgb(67, 116, 67);
}
footer > p {
  color: white;
  padding: 5px;
}
i {
  padding: 4px;
  color: white;
}
i:hover {
  cursor: pointer;
  color: black;
}
